

   form {
       background-color: ghostwhite;
          border-radius: 5px;
          border: solid 1px black;
          position: absolute;
          top: 100px;
          width: 700px;
          height: 650px;
          left: 450px;
          overflow: scroll;
          overflow-x: hidden ;
   }
 
   #titre1 {
       width: 690px;
   position: relative;
   left: 10px;
   top: 50px;
   color: #303030;
   font-size: 20px;
   }
   #p1 {
       color: #72c20b;
   }
   #p2 {
       color: #303030;
   }
   #p3 {
       color: darkorange;
   }
   
   .text2_step9 {
       position: relative;
   left: 100px;
   top: 190px;
   color: #303030;
   font-size: 18px;
   font-weight: bolder;
   width: 630px;
   }
   
  
      #trait1 {
          width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait2 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait3 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait4 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait5 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait6 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait7 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait8 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait9 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      #trait10 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
   
      #trait11 {
       width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 40px;
      }
      progress {
       display:inline-block;
       width:100%;
       height:20px;
       padding:15px 0 0 0;
       margin:0;
       background:none;
       border: 0;
       border-radius: 15px;
       text-align: left;
       position:relative;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 0.8em;
       top: 79px;
      }
      progress::-webkit-progress-bar {
       height:11px;
       width:100%;
       margin:0 auto;
       background-color: #CCC;
       border-radius: 15px;
   }
   progress::-webkit-progress-value {
       display:inline-block;
       height:11px;
       margin:0px -10px 0 0;
       background: linear-gradient(to right, #72c20b, #303030, darkorange);
       border-radius: 15px;
       float:left;
   
   }
   
   
   
   
   #suivant_step9 {
    background: linear-gradient(to right, #72c20b, #303030, darkorange);
border: solid 1px black;
border-radius: 7px;
padding: 10px;
font-size: 16px;
width: 120px;
position: absolute;
color: lightgray;
bottom: 50px;
right: 70px;
height: 40px;
cursor: pointer;
}
#suivant_step9:hover {
border: solid 3px aqua;
color: aqua;
}
#retour_step9 {
    background: linear-gradient(to right, #72c20b, #303030, darkorange);
  border: solid 1px black;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  width: 120px;
  position: absolute;
  color: lightgray;
position: absolute;
left: 70px;
bottom: 50px;
height: 40px;
  cursor: pointer;

}
#retour_step9:hover {
    border: solid 3px aqua;
    color: aqua;
}
#retour_step9:hover {
    border: solid 3px aqua;
    color: aqua;
}

#text_code_step9 {
    position: relative;
    top: 220px;
    left: 120px;
    width: 170px;

}
#barre_code_step9 {
    width: 400px;
    position: relative;
    top: 240px;
     left: 22px;
}